NEXT_PUBLIC_SITE_URL="https://falcon-design.vercel.app"
// QE0DSOuYXo4IOTV5

CONTACT_TO_EMAIL="falcondesign20@gmail.com"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="falcondesign20@gmail.com"
SMTP_PASS="your-gmail-app-password"
CONTACT_FROM_EMAIL="falcondesign20@gmail.com"